@model MortgageCalc_MVC.Models.Loan

<div class="row g-2">
    <div class="d-flex flex-column flex-sm-row customGap">
        <!-- Input Area -->
        <div class="col-12 col-sm-4 d-flex border px-3">
            <form class="w-100" asp-controller="Home" asp-action="MortgageCalcPage" method="post">
                <div class="row mt-3 align-items-center">
                    <label asp-for="Amount" class="col col-md-4 form-label text-center d-flex align-items-center justify-content-center">Loan Amount ($)</label>
                    <div class="col-12 col-md-8 d-flex align-items-center">
                        <input asp-for="Amount" class="form-control" type="number" id="loanAmount" />
                    </div>
                </div>
                <div class="row mt-3">
                    <label asp-for="Term" class="col-12 col-md-4 form-label text-center d-flex align-items-center justify-content-center">Term (Months)</label>
                    <div class="col-12 col-md-8 d-flex align-items-center">
                        <input class="form-control" asp-for="Term" type="number" id="loanTerm" />
                    </div>
                </div>
                <div class="row mt-3">
                    <label asp-for="Rate" class="col-12 col-md-4 form-label text-center d-flex align-items-center justify-content-center">Interest Rate (%)</label>
                    <div class="col-12 col-md-8 d-flex align-items-center">
                        <input asp-for="Rate" class="form-control" type="number" id="loanRate" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary"
                                type="submit"
                                onclick="calculateAmounts()"
                                id="calculateButton">
                            Enter
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Payment Stats Area -->
        <div class="col-12 col-sm-8 border pb-1 px-3 pt-3">
            <div class="d-flex flex-column h-100">
                <div class="mb-auto d-flex flex-column align-items-center justify-content-center">
                    <h1 class="text-center">Your Monthly Payments:</h1>
                    <h3 class="text-center"><span id="monthlyPayment">@Model.Payment.ToString("C")</span></h3>
                </div>
                <div class="mt-2">
                    <div class="row gy-1 gy-sm-0">
                        <div class="fullWidth col-6">
                            <h5>Total Principal:</h5>
                        </div>
                        <div class="fullWidth col-6 d-flex align-items-center justify-content-end">
                            <h5><span id="totalPrincipal">@Model.Amount.ToString("C")</span></h5>
                        </div>
                        <div class="fullWidth col-6">
                            <h5>Total Interest:</h5>
                        </div>
                        <div class="fullWidth col-6 d-flex align-items-center justify-content-end">
                            <h5><span id="totalInterest">@Model.TotalInterest.ToString("C")</span></h5>
                        </div>
                        <div class="fullWidth col-6">
                            <h5>Total Cost:</h5>
                        </div>
                        <div class="fullWidth col-6 d-flex align-items-center justify-content-end">
                            <h5><span id="totalCost">@Model.TotalCost.ToString("C")</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Payments Table-->
    @if (Model.Payments.Count > 0)
    {
        <div class="col-12 p-0 border">
            <div class="table-responsive">
                <table class="table table-striped table-dark mb-0">
                    <thead class="text-center">
                        <tr>
                            <th>Month</th>
                            <th>Payment</th>
                            <th>Principal</th>
                            <th>Interest</th>
                            <th>Total Interest</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody id="paymentTable" class="text-center">
                        @for (int i = 0; i < Model.Payments.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model.Payments[i].Payment.ToString("C")</td>
                                <td>@Model.Payments[i].MonthlyPrincipal.ToString("C")</td>
                                <td>@Model.Payments[i].MonthlyInterest.ToString("C")</td>
                                <td>@Model.Payments[i].TotalInterest.ToString("C")</td>
                                <td>@Model.Payments[i].Balance.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>